<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Innovative and deadline driven graphic designer with 2+years of experience designing and developing user-centered
          digital material from initial concept to final, polished deliverables. Specializes in strategic branding/art direction 
          and web-ready digital content.
          
        </p>
      </div>
      <div class="col-lg-4">
        <p> Skills:
          <ol>
            <li>Figma</li>
            <li>Adobe creative suite</li>
            <li>Photography and video editing</li>
            <li>HTML, CSS, bootstrap</li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</section>
