<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Innovative and deadline driven graphic designer with 2+years of experience designing and developing user_centered
          digital material from initial concept to final, polished deliverable. Specializes in strategic branding/art direction 
          and web_ready digital content.
          
        </p>
      </div>
      <div class="col-lg-4">
        <p> Skills:
          1. Adobe creative suite(Photoshop, Illustrator)
          2. Photography and video editing
          3. Html/CSS </p>
      </div>
    </div>
  </div>
</section>
